<ion-header>
  <ion-navbar>
    <ion-title *ngIf="endereco_id">Editar Endereço</ion-title>
    <ion-title *ngIf="!endereco_id">Adicionar novo Endereço</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form *ngIf="endereco_id" [formGroup]="formGroup" (ngSubmit)="updateEndereco(); $event.preventDefault()">

    <ion-item>
      <ion-label stacked>Logradouro</ion-label>
      <ion-input formControlName="logradouro" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Número</ion-label>
      <ion-input formControlName="numero" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Complemento</ion-label>
      <ion-input formControlName="complemento" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Bairro</ion-label>
      <ion-input formControlName="bairro" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>CEP</ion-label>
      <ion-input formControlName="cep" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Estado*</ion-label>
      <ion-select formControlName="estado_id" (ionChange)="updateCidades()">
        <ion-option *ngFor="let estado of estados; first as f" [value]="estado.id" [selected]="f">{{estado.nome}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Cidade*</ion-label>
      <ion-select formControlName="cidade_id">
        <ion-option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}
        </ion-option>
      </ion-select>
    </ion-item>
    <button ion-button name="save-outline" block type="submit" [disabled]="formGroup.invalid">Atualizar</button>

  </form>

  <form *ngIf="!endereco_id" [formGroup]="formGroup" (ngSubmit)="saveEndereco(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Logradouro</ion-label>
      <ion-input formControlName="logradouro" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Número</ion-label>
      <ion-input formControlName="numero" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Complemento</ion-label>
      <ion-input formControlName="complemento" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Bairro</ion-label>
      <ion-input formControlName="bairro" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>CEP</ion-label>
      <ion-input formControlName="cep" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Estado*</ion-label>
      <ion-select formControlName="estado_id" (ionChange)="updateCidades()">
        <ion-option *ngFor="let estado of estados; first as f" [value]="estado.id" [selected]="f">{{estado.nome}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cidade*</ion-label>
      <ion-select formControlName="cidade_id">
        <ion-option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}
        </ion-option>
      </ion-select>
    </ion-item>
    <button ion-button name="save-outline" block type="submit" [disabled]="formGroup.invalid">Salvar</button>
  </form>

</ion-content>