<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PRODUTOS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <img src="assets/imgs/logo.png" alt="logo">
  </div>

  <ion-fab top right edge>
    <button navPush="CartPage" ion-fab mini>
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-fab>

  <ion-list id="listProds">
    <button ion-item *ngFor="let item of items" (click)="showProdutos(item.id)">
      <h1> {{ item.nome }} </h1>
    </button>
  </ion-list>

  <ion-grid *ngIf="isAdmin">
    <ion-row>
      <ion-col>
        <button id="btn-new" ion-button navPush="NovoEditarProdutoPage">Novo Produto</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>