<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="assets/imgs/home.JPG" alt="logo">
  <p></p>
  <ion-fab top right edge>
    <button navPush="CartPage" ion-fab mini>
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-fab>
  <p></p>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="showProdutos(item.id)">
      <h1 class="cat"> {{ item.nome }} </h1>
    </button>
  </ion-list>
  <button *ngIf="isAdmin" ion-button block>Cadastrar Novo Produto</button>
  <p></p>
</ion-content>