<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minha Conta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img class="circle" [src]="profileImage">
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <h2 text-center><strong>{{cliente?.nome}}</strong></h2>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-list>
      <h2 text-center>
        <ion-icon name="mail-outline" style="align-self:center;"> {{cliente?.email}} </ion-icon>
      </h2>
      <h2 text-center>
        <ion-icon name="chatbubbles-outline"> {{cliente?.telefone}} </ion-icon>
      </h2>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-item>
      <button ion-button block
        (click)="editarInfo(cliente?.id, cliente?.nome, cliente?.email, cliente?.telefone)">Editar
        Informações</button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>
    <ion-item>
      <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Imagem da Camera</button>
      <button ion-button block (click)="getGalleryPicture()" [disabled]="cameraOn">Imagem da Galeria</button>
      <button *ngIf="picture" ion-button outline block (click)="sendPicture()">Enviar imagem</button>
      <button *ngIf="picture" ion-button outline block (click)="cancel()">Descartar imagem</button>
    </ion-item>
  </ion-card>

</ion-content>