<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minha Conta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img class="circle" [src]="profileImage">
  </ion-avatar>

  <ion-card id="card1">
    <ion-card-header>
      <p>{{cliente?.nome}}</p>
    </ion-card-header>
  </ion-card>

  <ion-card id="card2">
    <ion-list>
      <p>
        <ion-icon name="mail-outline"> {{cliente?.email}} </ion-icon>
      </p>
      <p>
        <ion-icon name="chatbubbles-outline"> {{cliente?.telefone}} </ion-icon>
      </p>
    </ion-list>
  </ion-card>

  <button id="btn-edit" ion-button
    (click)="editarInfo(cliente?.id, cliente?.nome, cliente?.email, cliente?.telefone)">Editar
    Informações</button>


  <ion-card id="card3">
    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>
  </ion-card>

  <div id="btn-CameraGaleria">
    <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Imagem da Camera</button>
    <button ion-button block (click)="getGalleryPicture()" [disabled]="cameraOn">Imagem da Galeria</button>
  </div>

  <div id="btn-EnviarDescartImagem">
    <button *ngIf="picture" ion-button outline block (click)="sendPicture()">Enviar imagem</button>
    <button *ngIf="picture" ion-button outline block (click)="cancel()">Descartar imagem</button>
  </div>

</ion-content>