<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minha Conta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img class="circle" [src]="cliente?.imageUrl || 'assets/imgs/avatar-blank.png'">
  </ion-avatar>
  <h2 text-center>{{ cliente?.nome }}</h2>
  <p> </p>
  <h3 text-center>{{ cliente?.email }}</h3>

  <ion-card>
    <ion-card-header class="ft">
      Foto para o Perfil:
    </ion-card-header>
    <ion-item *ngIf="imagem">
      <img [src]="imagem">
    </ion-item>
    <ion-item>
      <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button>
      <button *ngIf=imagem ion-button block (click)="sendImagem()">Enviar imagem</button>
      <button *ngIf=imagem ion-button block (click)="cancel()">Descartar imagem</button>
    </ion-item>
  </ion-card>
</ion-content>