<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <button ion-item *ngFor="let item of items" (click)="showPedidos(item.id)">
        <p><strong>Pedido Nº: {{ item.id }} </strong></p>
        <p>Data: {{ item.instante }} </p>
      </button>
    </ion-card-header>
  </ion-card>

  <div id="btn-goProds" *ngIf="isEmpty(items)">
    <p>Você ainda não tem pedidos</p>
    <button ion-button (click)="goOn()">Ver Produtos</button>
  </div>

</ion-content>