page-home {

    img{
        width: 400 px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    h2{
        font-style: italic;
        color: green;
    }

}
