<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhes do Pedido Nº {{id}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      Data/Hora: {{data}}
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Produtos:
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let item of itens">
        <p class='s'> {{item?.quantidade}} {{item?.produto.nome}} {{item?.preco | currency}}</p>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Endereço de Entrega:
    </ion-card-header>
    <ion-list>
      <ion-item>
        <p class='s'>{{endereco?.logradouro}}, {{endereco?.numero}}, {{endereco?.bairro}}</p>
        <p class='s'>{{endereco?.complemento}}</p>
        <p class='s'>CEP: {{endereco?.cep}} </p>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Forma de Pagamento:
    </ion-card-header>
    <ion-list>
      <ion-item *ngIf="tipoPagamento=='pagamentoComCartao'">
        <p class='s'>Pagamento com cartão</p>
        <p class='s'>Parcelas: {{pagamento?.numeroDeParcelas}}</p>
      </ion-item>
      <ion-item *ngIf="tipoPagamento=='pagamentoComBoleto'">
        <p class='s'>Pagamento com boleto</p>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Total:
    </ion-card-header>
    <ion-list>
      <ion-item>
        <p class='s'><strong>{{total | currency}}</strong></p>
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>