page-signup {
    p {
        color: red;
    }

    #form ion-label{
        font-size: 15px;
        font-weight: bold;
        color: black
    }

    #form button{
        font-size: 18px;
        font-weight: bold;
        top: 10px;
        height: 45px;
        border-radius: 27px;
        width: 80%;
        left: 10%;
    }

    #form ion-list{
        margin: 0;
    }
}
